<ion-content padding>

  <span *ngIf="tamanho < 1" class="vazio"> Nenhum dado encontrado</span>


  <ion-card *ngFor="let storage of storages">
    <ion-card-header>
      <span id="titulo">Receitas</span>
      <br>

    </ion-card-header>

    <ion-card-content>
      <span id="local">{{storage.fornecedorOrigem}}</span>
      <br>
      <span id="valor">{{storage.fornecedorDestino}} </span>
      <br>
      <span id="horario">{{storage.produto}}</span>
      <br>
      <span id="local">{{storage.tipoPagmt}}</span>
      <br>
      <span id="valor">{{storage.idUnidadeMedida}} </span>
      <br>
      <span id="horario">{{storage.idUnidadeBandeja}}</span>
      <br>
      <span id="local">{{storage.caixa}}</span>
      <br>
      <span id="valor">{{storage.qntFaturado}} </span>
      <br>
      <span id="horario">{{storage.qntDescarregado}}</span>
      <br>
      <span id="local">{{storage.valorUnitario}}</span>
    </ion-card-content>
  </ion-card>

</ion-content>