<ion-header>
  <ion-navbar color="tijuca">
    <ion-title class="titulo">Receitas</ion-title>
  </ion-navbar>
</ion-header>

<div class="slideTop">

  <ion-item>
    <ion-label stacked>
      <span class="input">Fornecedor / Destino</span>
    </ion-label>
    <ion-select [(ngModel)]="storageProvider.receitas.fornecedorDestino" (click)="valida()">
      <ion-option *ngFor="let item of itemsFornecedores" value="{{item.id}}">
        {{item.nome}}
      </ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label stacked>
      <span class="input">Produtos</span>
    </ion-label>
    <ion-select [(ngModel)]="storageProvider.receitas.produto" (click)="valida()">
      <ion-option *ngFor="let item of itemsProdutos" value ="{{item.id_produto}}">
        {{item.nome}}
      </ion-option>
    </ion-select>
  </ion-item>


  <ion-item>
    <ion-label stacked>
      <span class="input">Pagamento</span>
    </ion-label>
    <ion-select [(ngModel)]="storageProvider.receitas.tipoPagmt" (click)="valida()">
      <ion-option *ngFor="let items of itemsFormasPagamento" value = "{{items.id}}">
        {{ items.forma_pagamento }}
      </ion-option>
    </ion-select>
  </ion-item>


  <button ion-button block (click)="salvar()" [disabled]="!valida()" color="tijuca" class="botao">Adicionar</button>

</div>