<ion-header>

  <ion-toolbar color="tijuca">
    <ion-title>Viagens</ion-title>
  </ion-toolbar>

</ion-header>

<div class="fixed-content">

  <ion-content class="card-background-page">
    <div class="grid">

      <div class="row">
        <div class="column" (click)="alerta()">Abastecer
          <button ion-fab class="fab" *ngIf = "abastecimentoPendente > 0">{{abastecimentoPendente}}</button>
          <img class="imagem" src="assets/images/abastecimento.svg" />
        </div>

        <div class="column" (click)="linkGeral()">Geral
          <img class="imagem" src="assets/images/geral.svg" />
        </div>
      </div>

      <div class="row">
        <div class="column" (click)="linkArla32()">Arla 32
          <button ion-fab class="fab" *ngIf = "arlaPendente > 0">{{arlaPendente}}</button>
          <img class="imagem" src="assets/images/arla.svg" />
        </div>

        <div class="column" (click)="linkDespesas()">Gastos
          <button ion-fab class="fab" *ngIf = "despesasPendente > 0">{{despesasPendente}}</button>
          <img class="imagem" src="assets/images/gastos.svg" />
        </div>

      </div>


      <div class="row">
        <div class="column" (click)="linkReceitas()">Receitas
          <button ion-fab class="fab" *ngIf = "receitasPendente > 0">{{receitasPendente}}</button>
          <img class="imagem" src="assets/images/receitas.svg" />
        </div>

        <div class="column" (click)="linkRelatorios()">Relatórios
          <img class="imagem" src="assets/images/relatorios.svg" />
        </div>

      </div>

    </div>


  </ion-content>
</div>