ion-navbar{
    text-align: center;
} 
.input{
    color: black;
    font-size: 2vh;
}
.dadosgerais{ 
    width: 96vw; 
    margin-top:1vw;
}
.dadosviagens{ 
    width: 96vw; 
    margin-left:-4.5vw;
    margin-top:-1.9vh;
}
.titulodadosgeral{ 
    margin-left:-15vw;
}