page-despesas {

    .slideTop{ 
        width: 96vw;  
        margin-top: 10vh;
    }   
    .botao{
        width: 93vw;
        margin-left: 3.5vw;
    }
    .titulo{
        margin-left: 10vw;  
        width: 50vw;
    }
}
