arla-pagamento-page {
    .slideTop{ 
        width: 96vw;
        margin-top: 38vh;
    } 

    ion-icon{
        z-index:1;
        font-size: 5vh;
        margin-top: -5vh;
        margin-left: 45vw;
        width: 10vw;
        color:#306B98;
        position: absolute; 
    }
}
