arla-pagamento-page {
    .slideTop{ 
        width: 96vw;
        margin-top: 9vh;
    } 
    .botao{
        width: 93vw;
        margin-left: 3.5vw;
    }
    ion-icon{
        z-index:1;
        font-size: 5vh;
        margin-top: -5vh;
        margin-left: 89vw;
        width: 10vw;
        color:#306B98;
        position: absolute; 
    }
    .camera{
        width: 85vw;
    }
}
