<ion-content padding>


  <span *ngIf= "tamanho < 1" class="vazio"> Nenhum dado encontrado</span>

      <ion-card *ngFor="let storage of storages">
      <ion-card-header>
        <span id="titulo">Arla</span>
        <br>

        </ion-card-header>


        <ion-card-content>
          <span id="local">{{storage.dataArla}}</span>
          <br>
          <span id="valor">{{storage.postoArla}} </span>
          <br>
          <span id="horario">{{storage.tipoArla}}</span>
          <br>
          <span id="local">{{storage.km}}</span>
          <br>
          <span id="valor">{{storage.litrosArla}} </span>
          <br>
          <span id="horario">{{storage.litrosPrecoArla}}</span>
          <br>
          <span id="horario">{{storage.pagtArla}}</span>
          <br>
          <span id="horario">{{storage.precoArla}}</span>
        </ion-card-content>
      </ion-card>

</ion-content>