page-clientes {
    ion-card{  
        width: 100vw;
        font-weight: bold;  
    }
    .cod{
        margin-left:28vw; 
    }

    .refresh{ 
        font-size: 10vw;
        color: white;
        margin-right:2vw;
    }
}
