<!--
  Generated template for the ClientesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="tijuca">
    <ion-title class="titulo">Clientes </ion-title>
    <ion-buttons end>
      <ion-icon name="refresh" (click)="linkSincronizar()" class="refresh"></ion-icon>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>


  <ion-searchbar (ionInput)="getItems($event)" placeholder="Buscar"></ion-searchbar>

  <div *ngFor="let item of items">
    <ng-template [ngIf]="item.limite >= 1000" [ngIfElse]="limiteBaixo">
      <ion-card style="background-color: red;" (click)="e(item.id_cliente)">
        <ion-card-header>
          {{item.nome_cliente}}
        </ion-card-header>
        <ion-card-content>
          <span class="cnpj">{{item.cnpj}}</span>

          <span>{{item.limite}}</span>

          <span class="cod">{{id_cliente}}</span>
        </ion-card-content>
      </ion-card>
    </ng-template>

    <ng-template #limiteBaixo>


      <ion-card (click)="e(item.id_cliente)">
        <ion-card-header>
          {{item.nome_cliente}}
        </ion-card-header>
        <ion-card-content>
          <span class="cnpj">{{item.cnpj}}</span>

          <span>{{item.limite}}</span>

          <span class="cod">{{id_cliente}}</span>
        </ion-card-content>
      </ion-card>


    </ng-template>

  </div>
  <!-- <div *ngFor="let item of items">
    <ion-card *ngIf="item.limite < 1000" (click)="e(item.id_cliente)">
      <ion-card-header>
        {{item.nome_cliente}}
      </ion-card-header>
      <ion-card-content>
        <span class="cnpj">{{item.cnpj}}</span>

        <span>{{item.limite}}</span>

        <span class="cod">{{id_cliente}}</span>
      </ion-card-content>
    </ion-card>
  </div> -->





</ion-content>