<ion-header>

  <ion-toolbar color="tijuca">
    <ion-title>Vendas</ion-title>
  </ion-toolbar>

</ion-header>

<div class="fixed-content">

  <ion-content class="card-background-page">
    <div class="grid">

      <div class="row">
        <div class="column" (click)="linkClientes()">Clientes
          <button ion-fab class="fab" *ngIf = "abastecimentoPendentes > 0">{{abastecimentoPendentes}}</button>
          <img class="imagem" src="assets/images/abastecimento.svg" />
        </div>

        <div class="column" (click)="linkPedidos()">Pedidos
          <img class="imagem" src="assets/images/geral.svg" />
        </div>
      </div>

      <div class="row">
        <div class="column" (click)="linkPesquisas()">Pesquisas
          <button ion-fab class="fab" *ngIf = "arlaPendentes > 0">{{arlaPendentes}}</button>
          <img class="imagem" src="assets/images/arla.svg" />
        </div>
 <!-- *ngIf = "despesasPendente > 0" -->
        <div class="column" (click)="linkProdutos()">Produtos
          <button ion-fab class="fab" *ngIf = "despesasPendentes > 0">{{despesasPendentes}}</button>
          <img class="imagem" src="assets/images/gastos.svg" />
        </div>
      </div>


      <div class="row">
        <div class="column" (click)="linkSincronizar()">Sincronizar
          <button ion-fab class="fab" *ngIf = "receitasPendentes > 0">{{receitasPendentes}}</button>
          <img class="imagem" src="assets/images/receitas.svg" />
        </div>

        <div class="column" (click)="linkTabelas()">Tabelas
          <img class="imagem" src="assets/images/relatorios.svg" />
        </div>

      </div>

    </div>


  </ion-content>
</div>