<ion-content padding>


  <span *ngIf= "tamanho < 1" class="vazio"> Nenhum dado encontrado</span>
  

  <ion-card *ngFor="let storage of storages">
      <ion-card-header>
        <span id="titulo">Abastecimento</span>
        <br>

      </ion-card-header>


      <ion-card-content>
        <span id="local">{{storage.tipoAbastecimento}}</span>
        <br>
        <span id="valor">{{storage.postoAbastecimento}} </span>
        <br>
        <span id="horario">{{storage.dataAbastecimento}}</span>
        <br>
        <span id="local">{{storage.tipoPagmtAbastecimento}}</span>
        <br>
        <span id="local">{{storage.precoAbastecimento}}</span>
        <br>
        <span id="valor">{{storage.odometro}} </span>
        <br>
        <span id="horario">{{storage.litrosBomb1}}</span>
        <br>
        <span id="horario">{{storage.precoBomb1}}</span>
        <br>
        <span id="horario">{{storage.litrosBomb2}}</span>
        <br>
        <span id="horario">{{storage.precoBomb2}}</span>
        <br>
      </ion-card-content>
  </ion-card>

</ion-content>