<ion-content padding>

  <span *ngIf= "tamanho < 1" class="vazio"> Nenhum dado encontrado</span>
  
    <ion-card *ngFor="let storage of storages">
        <ion-card-header>
          <span id="titulo">Despesas</span>
          <br>
  
        </ion-card-header>
  
        <ion-card-content>
          <span id="local">{{storage.despesas}}</span>
          <br>
          <span id="valor">{{storage.dataDespesas}}</span>
          <br>
          <span id="horario">{{storage.valorDespesas}}</span>
          <br>
         
        </ion-card-content>
    </ion-card>
  
  </ion-content>